<!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
<div class="sidebar-overlay-slide from-top" id="appMenu">
    <div class="row p-t-20">
        <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-40 block" data-toggle="tooltip" data-original-title="Project Name 002" ><img src="media/project/002/ico/ico.jpg" alt="socail">
            </a>
        </div>
        <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-10 block" data-toggle="tooltip" data-original-title="Project Name 007"><img src="media/project/007/ico/ico.jpg" alt="socail">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-40 block" data-toggle="tooltip" data-original-title="Project Name 012"><img src="media/project/012/ico/ico.jpg" alt="socail">
            </a>
        </div>
        <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-10 block" data-toggle="tooltip" data-original-title="Project Name 008"><img src="media/project/008/ico/ico.jpg" alt="socail">
            </a>
        </div>
    </div>
</div>
<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
<!-- BEGIN SIDEBAR MENU HEADER-->
<div class="sidebar-header">
    <img src="assets/images/common/digicode.logo.svg" alt="logo" class="brand"
         data-src="assets/images/common/digicode.logo.blue.svg"
         data-src-retina="assets/images/common/digicode.logo.blue.svg" width="88">

    <div class="sidebar-header-controls">
        <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i
                class="fa fa-angle-down fs-16"></i>
        </button>
        <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
        </button>
    </div>
</div>
<!-- END SIDEBAR MENU HEADER-->
<!-- START SIDEBAR MENU -->
<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
        <li class="m-t-30 open">
            <a href="{{DGC_Obj.routing.project_list | dgc_filter_url}}"><span class="title">Projects</span></a>
            <span class="icon-thumbnail"><i class="fa fa-briefcase"></i></span>
        </li>
        <li class="">
            <a href="javascript:;"><span class="title">Menu Levels</span>
                <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-navicon"></i></span>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;">Level 1</a>
                    <span class="icon-thumbnail">L1</span>
                </li>
                <li>
                    <a href="javascript:;"><span class="title">Level 2</span>
                        <span class="arrow"></span></a>
                    <span class="icon-thumbnail">L2</span>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">Sub Menu</a>
                            <span class="icon-thumbnail">Sm</span>
                        </li>
                        <li>
                            <a href="ujavascript:;">Sub Menu</a>
                            <span class="icon-thumbnail">Sm</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->


