
<!-- MODAL ADD PROJECT JSON  -->
<div class="modal fade stick-up dgcModalProjectJson" id="idDgcModalProjectJson" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5 class="text-success">Create <span class="semi-bold">digicode.json / amundi.json</span></h5>
            </div>
            <div class="modal-body">

                <form role="form">
                    <h5>Global informations</h5>

                    <div class="form-group-attached">
                        <div class="row">
                            <div class="form-group form-group-default input-group">
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-2 no-padding">
                                    <span class="input-group-addon">
                                        <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select">
                                            <option value="" Selected>[ Type project ]</option>
                                            <option value="library">Library</option>
                                            <option value="application">Application</option>
                                        </select>
                                    </span>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="label-sm">Name of project</label>
                                        <input type="text" class="form-control input-sm" placeholder="..." ng-value="_DGC_RS_currentProjectSelected.name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default">
                                    <label class="label-sm">Summary</label>
                                    <input type="text" class="form-control input-sm" placeholder="..." ng-value="_DGC_RS_currentProjectSelected.summary">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default">
                                    <label class="label-sm">Description</label>
                                    <textarea style="width: 100%; height: 60px" class="form-control input-sm" placeholder="...">{{_DGC_RS_currentProjectSelected.description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-default required tags-list languages">
                                    <label>Languages</label>
                                    <input class="tagsinput custom-tag-input" type="text" ng-value="_DGC_RS_currentProjectSelected.languages.toString()"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-default required  tags-list keywords">
                                    <label>Tags / Keywords</label>
                                    <input class="tagsinput custom-tag-input" type="text" ng-value="_DGC_RS_currentProjectSelected.keywords.toString()"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h5>Environment informations</h5>

                    <p class="m-b-0 m-t-0">Code Quality</p>

                    <div class="form-group-attached">
                        <div class="form-group form-group-default input-group" data-type="code_quality">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-2  no-padding">
                                    <span class="input-group-addon">
                                        <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select">
                                            <option value="" Selected>Tools :</option>
                                            <option value="sonar">Sonar</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <label class="label-sm" data-type="code_quality">Path</label>
                                    <input type="text" class="form-control input-sm"
                                           placeholder="URL: Ex. https://dtp.intramundi.com/sonar/dashboard/index/247994" ng-value="_DGC_RS_currentProjectSelected.environment[0].url">
                                </div>
                                <div class="col-md-2">
                                    <label class="label-sm">Resource id</label>
                                    <input type="text" class="form-control input-sm" placeholder="ID: Ex. 247994" ng-value="_DGC_RS_currentProjectSelected.environment[0].resource_id">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="m-b-0 m-t-5">Issues</p>

                    <div class="form-group-attached">
                        <div class="form-group form-group-default input-group" data-type="issues">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-2  no-padding">
                              <span class="input-group-addon">
                                            <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select">
                                                <option value="" Selected>Tools :</option>
                                                <option value="mantis">Mantis</option>
                                            </select>
                                        </span>
                                </div>
                                <div class="col-md-8">
                                    <label class="label-sm">Path</label>
                                    <input type="text" class="form-control input-sm"
                                           placeholder="URL: Ex. http://mantis.intramundi.com/etudes" ng-value="_DGC_RS_currentProjectSelected.environment[1].url">
                                </div>
                                <div class="col-md-2">
                                    <label class="label-sm">Resource id</label>
                                    <input type="text" class="form-control input-sm" placeholder="ID: Ex. 247994" ng-value="_DGC_RS_currentProjectSelected.environment[1].resource_id">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="m-b-0 m-t-5">Continuous integration</p>

                    <div class="form-group-attached">
                        <div class="form-group form-group-default input-group" data-type="continuous_integration">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-2  no-padding">
                              <span class="input-group-addon">
                                            <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select">
                                                <option value="" Selected>Tools :</option>
                                                <option value="jenkins">Jenkins</option>
                                            </select>
                                        </span>
                                </div>
                                <div class="col-md-8">
                                    <label class="label-sm">Path</label>
                                    <input type="text" class="form-control input-sm"
                                           placeholder="URL: Ex. https://dtp.intramundi.com/jenkins/job/" ng-value="_DGC_RS_currentProjectSelected.environment[2].url">
                                </div>
                                <div class="col-md-2">
                                    <label class="label-sm">Resource id</label>
                                    <input type="text" class="form-control input-sm" placeholder="ID: Ex. 247994" ng-value="_DGC_RS_currentProjectSelected.environment[2].resource_id">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="m-b-0 m-t-5">Revision control</p>

                    <div class="form-group-attached">
                        <div class="form-group form-group-default input-group" data-type="scm">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-2  no-padding">
                              <span class="input-group-addon">
                                            <select class="cs-select cs-skin-slide cs-transparent" data-init-plugin="cs-select">
                                                <option value="" Selected>Tools :</option>
                                                <option value="git">Git</option>
                                            </select>
                                        </span>
                                </div>
                                <div class="col-md-10">
                                    <label class="label-sm">Path</label>
                                    <input type="text" class="form-control input-sm"
                                           placeholder="URL: Ex. https://git.intramundi.com/gitlab/[project]" ng-value="_DGC_RS_currentProjectSelected.environment[3].url">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 m-t-10 sm-m-t-10">
                        <button type="button" class="btn btn-primary btn-block m-t-5">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. MODAL ADD PROJECT JSON  -->