<section class="detail-body clearfix">
  <div class="detail-body-wrap clearfix">
    <aside class="detail-body-right">
      <div class="group-btn">
        <a href="" class="btn demo">Demo</a>
        <a href="" class="btn download">Download</a>
      </div>

      <ul class="panel stats-info">
        <li><i class="fa fa-flask"></i>Current Version :<span class="v ng-binding">3.1.0</span></li>
        <li><i class="fa fa-calendar-o"></i>Date Creation :<span class="v ng-binding">Mar 23, 2015</span></li>
        <li><i class="fa fa-calendar"></i>Date Last Activity :<span class="v ng-binding">Apr 13, 2015</span></li>
        <li><i class="fa fa-file-text-o"></i>Statut :<span class="vng-binding">0 / 5</span></li>
        <li><i class="fa fa-download"></i>Téléchargements :<span class="v">##</span></li>
      </ul>

      <div class="panel stats-list">
        <header class="header">
          <span class="semi-bold">Language</span> List
        </header>
        <ul>
          <li><a href="">PHP</a></li>
          <li><a href="">Symfony 2</a></li>
          <li><a href="">jQuery</a></li>
          <li><a href="">HighCharts</a></li>
          <li><a href="">PhantomJS</a></li>
          <li><a href="">MongoDB</a></li>
          <li><a href="">Solr</a></li>
        </ul>
      </div>

      <div class="panel stats-list">
        <header class="header">
          <span class="semi-bold">Tags</span> List
        </header>
        <ul>
          <li><a href="">Web</a></li>
          <li><a href="">Widget</a></li>
          <li><a href="">Reporting</a></li>
          <li><a href="">Factsheet</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Traduction</a></li>
          <li><a href="">Designer</a></li>
          <li><a href="">Report</a></li>
          <li><a href="">Viewer</a></li>
          <li><a href="">Data</a></li>
          <li><a href="">Client</a></li>
          <li><a href="">OnDemand</a></li>
        </ul>
      </div>


      <div class="panel stats-list">
        <header class="header">
          <span class="semi-bold">Workers</span> List
        </header>
        <ul class="worker-list">
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/1.jpg')"></a></li>
          <li><a href="" class="" style="background-image: url('http://api.randomuser.me/portraits/thumb/men/2.jpg')"></a>
          </li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/21.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/24.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/36.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/29.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/70.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/8.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/16.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/32.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/44.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/women/12.jpg')"></a></li>
          <li><a href="" class=""
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a></li>
          <li><a href="" class=" more"><i class="fa fa-plus"></i></a></li>
        </ul>
      </div>

      <div class="panel stats-event">
        <header class="header">
          <span class="semi-bold">Events</span> List
        </header>
        <ul class="event-list">
          <li>
            <header class="header">
              <a href="" class="image"
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a>
              <div class="name">
                Steve Cox
              </div>
              <div class="date">
                Mar 27, 2015
              </div>
            </header>
            <div class="body">
              <pre class="text">MAJ du fichier readme</pre>
            </div>

          </li>

          <li>
            <header class="header">
              <a href="" class="image"
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a>
              <div class="name">
                Steve Cox
              </div>
              <div class="date">
                Mar 27, 2015
              </div>
            </header>
            <div class="body">
              <pre class="text">MAJ du fichier readme</pre>
            </div>

          </li>

          <li>
            <header class="header">
              <a href="" class="image"
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a>
              <div class="name">
                Steve Cox
              </div>
              <div class="date">
                Mar 27, 2015
              </div>
            </header>
            <div class="body">
              <pre class="text">MAJ du fichier readme</pre>
            </div>

          </li>

          <li>
            <header class="header">
              <a href="" class="image"
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a>
              <div class="name">
                Steve Cox
              </div>
              <div class="date">
                Mar 27, 2015
              </div>
            </header>
            <div class="body">
              <pre class="text">MAJ du fichier readme</pre>
            </div>

          </li>

          <li>
            <header class="header">
              <a href="" class="image"
                 style="background-image: url('http://api.randomuser.me/portraits/thumb/men/13.jpg')"></a>
              <div class="name">
                Steve Cox
              </div>
              <div class="date">
                Mar 27, 2015
              </div>
            </header>
            <div class="body">
              <pre class="text">MAJ du fichier readme</pre>
            </div>

          </li>
          <li><a href="" class="btn more">More events</a></li>
        </ul>
      </div>

    </aside>
    <section class="detail-body-left">
      Left
    </section>

  </div>
</section>