<!-- START PROJECT BODY -->
<div class="project-wrap-body container-fluid">

    <div class="row">
        <div class="col-md-12">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>
                        New Issue
                    </h5>
                </div>
                <div class="panel-body">

                    <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="form_issue_severity" class="col-sm-3 control-label">Severity</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="form_issue_severity" placeholder="Minor change" name="severity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_issue_summary" class="col-sm-3 control-label">Summary</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="form_issue_summary" placeholder="Type your summary" name="summary" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="form_issue_description" class="col-sm-3 control-label">Description</label>

                            <div class="col-sm-9">
                                <textarea class="form-control" id="form_issue_description" rows="8" placeholder="Type your description"></textarea>
                            </div>
                        </div>






                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>